.movie-poster {
    height: 450px;
    width: 100%;
    /* zoom  in */
    object-fit: cover;
  }
  .movie-name {
    font-size: 24px;
    margin: 0;
  }
  
  .movie-specs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .movie-container {
  
    width: 340px;
  }
  
  /* RAM */
  .movie-list {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1rem;
    justify-items: center;
  }
  button{
    border: none;
    margin: 10px;
    padding: 0;
  }
  input{
    align-items: center;
 
  }

  .movie-form {
    display: flex;
    align-items: center;
    margin: 20px;
    flex-direction: column;
  }
  
  .movie-form input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 40rem;
    padding: 20px;
    height: 2.5rem;
    border: ridge;
    box-shadow: 2px black;
   
  }
  .btn{
    padding: 20px;
    width: 30px;
  }
  
  